.encabezado {
    color: white;
    font-size: 24pt;
    margin-bottom: 50px;
    margin-top: -30px;
    text-align: center;
}

.contenedorBase {
    background-color: rgb(64, 37, 216);
    height: 800px;
    display: flex;
    padding: 10%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.emoji {
    font-size: 55pt;
    position: relative;
    top: -10px;
}

.subTitle {
    color: rgb(249, 166, 0);
    margin: 5px 0;
    font-size: x-large;
}

h1 {
    color: rgb(64, 37, 216);
    font-size: 50pt;
    margin: 10px;
    height: auto;
}

h2 {
    background-color: rgb(253, 224, 155);
    height: 31px;
    width: 100%;
    padding: 5px;
    color: rgb(64, 37, 216);
    text-align: center;
    position: relative;
    top: -36px;
    border-radius: 0px 0px 10px 10px;
}

.small {
    font-size: 30pt;
}

p {
    font-size: large;
    color: gray;
    margin: 5px 0;
    line-height: 1.7;
    text-align: center;
}

.contenedorTarjetas {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-end;
}

.tarjeta {
    background-color: rgb(255, 255, 255);
    height: 560px;
    width: 350px;
    box-shadow: 7px 3px 5px rgba(0, 0, 0, 0.356);
    border-style: none;
    border: none;
    border-radius: 15px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarjeta1 {
    background-color: rgb(255, 255, 255);
    height: 600px;
    width: 350px;
    box-shadow: 7px 3px 5px rgba(0, 0, 0, 0.356);
    border-style: none;
    border: none;
    border-radius: 15px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-estilo {
    background-color: rgb(64, 37, 216);
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 10px 60px;
    margin-top: 50px;
    position: relative;
    top: -30px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.texto1 {
    color: rgb(64, 37, 216);
    margin-top: 30px;
}
